# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
automl_env/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Data (ne pas commit les données !)
data/
*.csv
*.xlsx

# Models (fichiers lourds)
*.pkl
*.joblib
models/

# OS
.DS_Store
Thumbs.db
